html, body {
  font-family: 'Roboto', Sans-Serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #f3f3f3;
}

div#error {
  color: #fff;
  background: #d9534f;
  font-weight: bold;
  text-align: center;
  display: none;
  margin: 0;
}

div.overlay {
  position: relative;
}

div.overlay > div.buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

div.code {
  background: #fff;
  counter-reset: line;
  white-space: pre;
  border: 1px solid #375eab;
  margin: 5px;
  font-family: 'Source Code Pro', Monospace;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  -webkit-user-modify: read-write;
  -moz-border-radius: 5;
  -webkit-border-radius: 5;
  border-radius: 5px;
}

div.go {
  background: #ffffd8 url('/static/gopher.png') no-repeat;
  background-position: right top 20px;
}

div.code pre:before {
  background: #efefef;
  color: #888;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  min-width: 2em;
  border-right: 1px solid #ddd;
  text-align: right;
  padding: 0 0.5em;
}

div.code pre {
  background: transparent;
  font-family: 'Source Code Pro', Monospace;
  margin: 0;
  word-wrap: break-word;
  line-height: 24px;
  overflow-x: visible;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  -webkit-user-modify: read-write;
}

div.code pre span {
  white-space: pre;
}

div.code[lang]:before {
  content: attr(lang);
  position: absolute;
  top: 0;
  right: 5px;
  background: #333;
  padding: 10px;
  color: #fff;
  opacity: 0.8;
  font-family: 'Roboto', Monospace;
  font-weight: 400;
  -webkit-border-bottom-left-radius: 5;
  -moz-border-bottom-left-radius: 5;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5;
  -moz-border-top-right-radius: 5;
  border-top-right-radius: 5px;
}

div.output {
  opacity: 0.95;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #222;
  color: #fff;
  width: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
}

div.output div.buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #000;
}

div#godel-wrap,
div#synthesis-wrap,
div#gong-wrap {
  position: absolute;
  display: none;
  right: 10px;
  bottom: 10px;
}
div#godel-wrap.visible,
div#synthesis-wrap.visible,
div#gong-wrap.visible {
  opacity: 0.95;
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #222;
  color: #fff;
}

div.controls {
  width: 100%;
  padding: 10px;
}

div#out:not([lang]) + div.buttons,
div#out[lang] + div.buttons {
  display: none;
}
div#out[lang='MiGo'] + div.buttons,
div#out[lang='CFSM'] + div.buttons {
  display: block;
}
#time {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: smaller;
}

div.buttons button,
div.controls button,
div.controls select {
  background: #44b6d0;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Roboto', Sans-Serif;
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: #298ba3;
  margin: 0 5px;
  font-size: large;
}

/* Half-buttons */
div.output div.buttons button.close,
div.output div.buttons button.kill,
div.controls .right {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}
div.output div.buttons button.run,
div.output div.buttons button.kill,
div.controls .left {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

div.controls button:hover {
  background: #28849b;
  text-decoration: none;
}

div#synthesis-graphics {
  max-width: 1000px;
  overflow-x: auto;
  background: #ccc;
}

div#synthesis-graphics div#synthesis-machines,
div#synthesis-graphics div#synthesis-global {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}

#loader {
  padding: 0;
  display: none;
}

.loader,
.loader:before,
.loader:after {
  display: inline-block;
  margin-bottom: 2.5em;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  margin-left: 4em;
  color: #000;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
